--- /home/flo/code/envelopes/../opentoit/toolchains/esp32/sdkconfig.defaults	2023-10-25 16:02:07.900402881 +0200
+++ synthesized/esp32-log-wifi/sdkconfig.defaults	2023-10-25 16:13:45.229587009 +0200
@@ -52,7 +52,7 @@
 CONFIG_FREERTOS_USE_TRACE_FACILITY=y
 CONFIG_FREERTOS_ISR_STACKSIZE=2096
 CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
-CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
+CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
 # CONFIG_LOG_COLORS is not set
 CONFIG_LWIP_LOCAL_HOSTNAME="toit"
 # CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES is not set
@@ -76,4 +76,5 @@
 CONFIG_SPI_FLASH_LOG_FAILED_WRITE=y
 CONFIG_SPI_FLASH_WARN_SETTING_ZERO_TO_ONE=y
 # CONFIG_WS_TRANSPORT is not set
+CONFIG_WPA_DEBUG_PRINT=y
 # CONFIG_TOIT_INTERPRETER_HELPERS_IN_IRAM is not set
