--- toit/toolchains/esp32/sdkconfig.defaults	2023-09-20 11:21:44.091952700 +0200
+++ synn/esp32-log-wifi/sdkconfig.defaults	2023-09-21 21:26:45.744049606 +0200
@@ -53,7 +53,7 @@
 CONFIG_FREERTOS_ISR_STACKSIZE=2096
 CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
 # CONFIG_FREERTOS_ENABLE_TASK_SNAPSHOT is not set
-CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
+CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
 # CONFIG_LOG_COLORS is not set
 CONFIG_LWIP_LOCAL_HOSTNAME="toit"
 # CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES is not set
@@ -77,4 +77,5 @@
 CONFIG_SPI_FLASH_LOG_FAILED_WRITE=y
 CONFIG_SPI_FLASH_WARN_SETTING_ZERO_TO_ONE=y
 # CONFIG_WS_TRANSPORT is not set
+CONFIG_WPA_DEBUG_PRINT=y
 # CONFIG_TOIT_INTERPRETER_HELPERS_IN_IRAM is not set
