--- /home/flo/code/envelopes/../opentoit/toolchains/esp32/sdkconfig.defaults	2023-10-25 16:02:07.900402881 +0200
+++ synthesized/esp32-eth-clk-out17/sdkconfig.defaults	2023-10-25 16:13:45.019590274 +0200
@@ -31,6 +31,7 @@
 # CONFIG_SPI_SLAVE_ISR_IN_IRAM is not set
 CONFIG_UART_ISR_IN_IRAM=y
 # CONFIG_ESP_ERR_TO_NAME_LOOKUP is not set
+CONFIG_ETH_RMII_CLK_OUTPUT=y
 CONFIG_ETH_SPI_ETHERNET_DM9051=y
 CONFIG_ETH_SPI_ETHERNET_W5500=y
 # CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS is not set
