--- toit/toolchains/esp32/sdkconfig.defaults	2023-09-20 11:21:44.091952700 +0200
+++ synn/esp32-eth-clk-out17/sdkconfig.defaults	2023-09-21 21:26:45.540719572 +0200
@@ -39,6 +39,10 @@
 # CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE is not set
 CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
 # CONFIG_ESP_INT_WDT is not set
+# CONFIG_ETH_RMII_CLK_INPUT is not set
+CONFIG_ETH_RMII_CLK_OUTPUT=y
+# CONFIG_ETH_RMII_CLK_OUTPUT_GPIO0 is not set
+CONFIG_ETH_RMII_CLK_OUT_GPIO=17
 # CONFIG_ESP_TASK_WDT_EN is not set
 # CONFIG_ESP_DEBUG_OCDAWARE is not set
 CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM=16
