--- toit/toolchains/esp32s2/sdkconfig.defaults
+++ synthesized/esp32s2-cdc/sdkconfig.defaults
@@ -23,6 +23,7 @@
 CONFIG_SPIRAM_USE_CAPS_ALLOC=y
 CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
 CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
+CONFIG_ESP_CONSOLE_USB_CDC=y
 CONFIG_ESP_INT_WDT=n
 CONFIG_ESP_TASK_WDT_INIT=n
 CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=10
