--- toit/toolchains/esp32/sdkconfig.defaults
+++ synthesized/esp32-tls-server/sdkconfig.defaults
@@ -63,7 +63,6 @@
 CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=3700
 CONFIG_MBEDTLS_X509_TRUSTED_CERT_CALLBACK=y
 # CONFIG_MBEDTLS_HARDWARE_MPI is not set
-CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
 CONFIG_MBEDTLS_POLY1305_C=y
 CONFIG_MBEDTLS_CHACHA20_C=y
 CONFIG_MBEDTLS_CHACHAPOLY_C=y
