--- toit/toolchains/esp32c6/sdkconfig.defaults
+++ synthesized/esp32c6-fat/sdkconfig.defaults
@@ -24,7 +24,6 @@
 CONFIG_BT_NIMBLE_SVC_GAP_APPEARANCE=0x0
 CONFIG_BT_NIMBLE_TRANSPORT_ACL_FROM_LL_COUNT=10
 CONFIG_I2S_ISR_IRAM_SAFE=y
-CONFIG_SPI_SLAVE_ISR_IN_IRAM=y
 CONFIG_UART_ISR_IN_IRAM=y
 CONFIG_ETH_USE_SPI_ETHERNET=n
 CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS=n
@@ -67,5 +66,4 @@
 CONFIG_SPI_FLASH_LOG_FAILED_WRITE=y
 CONFIG_SPI_FLASH_WARN_SETTING_ZERO_TO_ONE=y
 CONFIG_WS_TRANSPORT=n
-CONFIG_TOIT_FATFS=n
 CONFIG_TOIT_CRYPTO_EXTRA=y
