--- toit/toolchains/esp32c6/sdkconfig.defaults
+++ synthesized/esp32c6-fat/sdkconfig.defaults
@@ -67,5 +67,4 @@
 CONFIG_SPI_FLASH_LOG_FAILED_WRITE=y
 CONFIG_SPI_FLASH_WARN_SETTING_ZERO_TO_ONE=y
 CONFIG_WS_TRANSPORT=n
-CONFIG_TOIT_FATFS=n
 CONFIG_TOIT_CRYPTO_EXTRA=y
