--- toit/toolchains/esp32/sdkconfig.defaults
+++ synthesized/esp32-no-ble/sdkconfig.defaults
@@ -9,23 +9,6 @@
 CONFIG_PARTITION_TABLE_CUSTOM=y
 CONFIG_COMPILER_OPTIMIZATION_SIZE=y
 CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y
-CONFIG_BT_ENABLED=y
-CONFIG_BT_NIMBLE_ENABLED=y
-CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_DEFAULT=y
-CONFIG_BT_NIMBLE_LOG_LEVEL_NONE=y
-CONFIG_BT_NIMBLE_MAX_CONNECTIONS=2
-CONFIG_BT_NIMBLE_MAX_BONDS=4
-CONFIG_BT_NIMBLE_MAX_CCCDS=3
-CONFIG_BT_NIMBLE_PINNED_TO_CORE_1=y
-CONFIG_BT_NIMBLE_NVS_PERSIST=y
-CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="toit"
-CONFIG_BT_NIMBLE_SVC_GAP_APPEARANCE=0x0
-CONFIG_BT_NIMBLE_ACL_BUF_COUNT=10
-CONFIG_BTDM_CTRL_BLE_MAX_CONN=2
-CONFIG_BTDM_CTRL_PINNED_TO_CORE_1=y
-# CONFIG_BTDM_CTRL_MODEM_SLEEP is not set
-# CONFIG_BTDM_BLE_SCAN_DUPL is not set
-CONFIG_BTDM_BLE_ADV_REPORT_FLOW_CTRL_NUM=50
 # CONFIG_ADC_CAL_EFUSE_TP_ENABLE is not set
 # CONFIG_ADC_CAL_LUT_ENABLE is not set
 # CONFIG_SPI_SLAVE_ISR_IN_IRAM is not set
@@ -37,6 +20,9 @@
 CONFIG_ESP_SLEEP_GPIO_RESET_WORKAROUND=y
 CONFIG_XTAL_FREQ_AUTO=y
 # CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE is not set
+CONFIG_SPIRAM=y
+CONFIG_SPIRAM_IGNORE_NOTFOUND=y
+CONFIG_SPIRAM_USE_CAPS_ALLOC=y
 CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
 # CONFIG_ESP_INT_WDT is not set
 # CONFIG_ESP_TASK_WDT_INIT is not set
@@ -73,4 +59,3 @@
 CONFIG_SPI_FLASH_LOG_FAILED_WRITE=y
 CONFIG_SPI_FLASH_WARN_SETTING_ZERO_TO_ONE=y
 # CONFIG_WS_TRANSPORT is not set
-# CONFIG_TOIT_INTERPRETER_HELPERS_IN_IRAM is not set
