--- toit/toolchains/esp32/sdkconfig.defaults
+++ synthesized/esp32-eth-clk-out17-spiram/sdkconfig.defaults
@@ -31,12 +31,16 @@
 CONFIG_I2S_ISR_IRAM_SAFE=y
 CONFIG_SPI_SLAVE_ISR_IN_IRAM=n
 CONFIG_UART_ISR_IN_IRAM=y
+CONFIG_ETH_RMII_CLK_OUTPUT=y
 CONFIG_ETH_SPI_ETHERNET_DM9051=y
 CONFIG_ETH_SPI_ETHERNET_W5500=y
 CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS=n
 CONFIG_ESP_SLEEP_GPIO_RESET_WORKAROUND=y
 CONFIG_XTAL_FREQ_AUTO=y
 CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE=n
+CONFIG_SPIRAM=y
+CONFIG_SPIRAM_IGNORE_NOTFOUND=y
+CONFIG_SPIRAM_USE_CAPS_ALLOC=y
 CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
 CONFIG_ESP_INT_WDT=n
 CONFIG_ESP_TASK_WDT_INIT=n
@@ -45,8 +49,6 @@
 CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=16
 CONFIG_ESP_WIFI_NVS_ENABLED=n
 CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_1=y
-CONFIG_ESP_WIFI_IRAM_OPT=n
-CONFIG_ESP_WIFI_GMAC_SUPPORT=n
 CONFIG_FATFS_LFN_HEAP=y
 CONFIG_FREERTOS_THREAD_LOCAL_STORAGE_POINTERS=3
 CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=1024
@@ -63,7 +65,6 @@
 CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=7800
 CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=3700
 CONFIG_MBEDTLS_X509_TRUSTED_CERT_CALLBACK=y
-CONFIG_MBEDTLS_ECP_RESTARTABLE=y
 CONFIG_MBEDTLS_HARDWARE_MPI=n
 CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
 CONFIG_MBEDTLS_POLY1305_C=y
@@ -75,4 +76,5 @@
 CONFIG_SPI_FLASH_LOG_FAILED_WRITE=y
 CONFIG_SPI_FLASH_WARN_SETTING_ZERO_TO_ONE=y
 CONFIG_WS_TRANSPORT=n
+CONFIG_TOIT_INTERPRETER_IN_IRAM=n
 CONFIG_TOIT_INTERPRETER_HELPERS_IN_IRAM=n
