--- toolchains/esp32s3/sdkconfig.defaults	2024-03-28 11:11:46.249705447 +0100
+++ toolchains/esp32s3-cdc/sdkconfig.defaults	2024-04-28 19:26:40.803000066 +0200
@@ -35,6 +35,8 @@
 CONFIG_SPIRAM_IGNORE_NOTFOUND=y
 CONFIG_SPIRAM_RODATA_PADDING=2097152
 CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
+CONFIG_ESP_CONSOLE_USB_CDC=y
+CONFIG_ESP_CONSOLE_USB_CDC_SUPPORT_ETS_PRINTF=y
 # CONFIG_ESP_INT_WDT is not set
 # CONFIG_ESP_TASK_WDT_INIT is not set
 CONFIG_ESP_IPC_TASK_STACK_SIZE=1024
