--- toit/toolchains/esp32c6/sdkconfig.defaults	2025-08-20 22:17:50.661701198 +0200
+++ synthesized/esp32c6-no-ble/sdkconfig.defaults	2025-08-20 22:18:01.085857055 +0200
@@ -11,18 +11,6 @@
 CONFIG_PARTITION_TABLE_CUSTOM=y
 CONFIG_COMPILER_OPTIMIZATION_SIZE=y
 CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y
-CONFIG_COMPILER_ORPHAN_SECTIONS_PLACE=y
-CONFIG_BT_ENABLED=y
-CONFIG_BT_NIMBLE_ENABLED=y
-CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_DEFAULT=y
-CONFIG_BT_NIMBLE_LOG_LEVEL_NONE=y
-CONFIG_BT_NIMBLE_MAX_CONNECTIONS=2
-CONFIG_BT_NIMBLE_MAX_BONDS=4
-CONFIG_BT_NIMBLE_MAX_CCCDS=3
-CONFIG_BT_NIMBLE_NVS_PERSIST=y
-CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="toit"
-CONFIG_BT_NIMBLE_SVC_GAP_APPEARANCE=0x0
-CONFIG_BT_NIMBLE_TRANSPORT_ACL_FROM_LL_COUNT=10
 CONFIG_I2S_ISR_IRAM_SAFE=y
 CONFIG_SPI_SLAVE_ISR_IN_IRAM=n
 CONFIG_UART_ISR_IN_IRAM=y
@@ -47,7 +35,6 @@
 CONFIG_LWIP_LOCAL_HOSTNAME="toit"
 CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES=n
 CONFIG_LWIP_TCP_SYNMAXRTX=6
-CONFIG_LWIP_HOOK_IP6_INPUT_NONE=y
 CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=7800
 CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=3700
 CONFIG_MBEDTLS_X509_TRUSTED_CERT_CALLBACK=y
@@ -55,7 +42,6 @@
 CONFIG_MBEDTLS_GCM_SUPPORT_NON_AES_CIPHER=n
 CONFIG_MBEDTLS_HARDWARE_MPI=n
 CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
-CONFIG_MBEDTLS_ECP_FIXED_POINT_OPTIM=y
 CONFIG_MBEDTLS_POLY1305_C=y
 CONFIG_MBEDTLS_CHACHA20_C=y
 CONFIG_MBEDTLS_CHACHAPOLY_C=y
