--- toit/toolchains/esp32c6/sdkconfig.defaults
+++ synthesized/esp32c6-no-ble/sdkconfig.defaults
@@ -11,17 +11,6 @@
 CONFIG_PARTITION_TABLE_CUSTOM=y
 CONFIG_COMPILER_OPTIMIZATION_SIZE=y
 CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y
-CONFIG_BT_ENABLED=y
-CONFIG_BT_NIMBLE_ENABLED=y
-CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_DEFAULT=y
-CONFIG_BT_NIMBLE_LOG_LEVEL_NONE=y
-CONFIG_BT_NIMBLE_MAX_CONNECTIONS=2
-CONFIG_BT_NIMBLE_MAX_BONDS=4
-CONFIG_BT_NIMBLE_MAX_CCCDS=3
-CONFIG_BT_NIMBLE_NVS_PERSIST=y
-CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="toit"
-CONFIG_BT_NIMBLE_SVC_GAP_APPEARANCE=0x0
-CONFIG_BT_NIMBLE_TRANSPORT_ACL_FROM_LL_COUNT=10
 CONFIG_I2S_ISR_IRAM_SAFE=y
 CONFIG_SPI_SLAVE_ISR_IN_IRAM=n
 CONFIG_UART_ISR_IN_IRAM=y
