--- toolchains/esp32s3/sdkconfig.defaults	2024-03-28 11:11:46.249705447 +0100
+++ toolchains/esp32s3-cdc/sdkconfig.defaults	2024-04-28 20:24:14.686259012 +0200
@@ -31,14 +31,14 @@
 # CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS is not set
 # CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE is not set
 CONFIG_ESP_PHY_REDUCE_TX_POWER=y
-CONFIG_SPIRAM=y
-CONFIG_SPIRAM_IGNORE_NOTFOUND=y
-CONFIG_SPIRAM_RODATA_PADDING=2097152
 CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
+CONFIG_ESP_CONSOLE_USB_CDC=y
+CONFIG_ESP_CONSOLE_USB_CDC_SUPPORT_ETS_PRINTF=y
 # CONFIG_ESP_INT_WDT is not set
 # CONFIG_ESP_TASK_WDT_INIT is not set
 CONFIG_ESP_IPC_TASK_STACK_SIZE=1024
 CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM=16
+CONFIG_ESP32_WIFI_STATIC_TX_BUFFER=y
 # CONFIG_ESP32_WIFI_NVS_ENABLED is not set
 CONFIG_ESP32_WIFI_TASK_PINNED_TO_CORE_1=y
 CONFIG_FATFS_LFN_HEAP=y
