--- /home/flo/code/envelopes/../opentoit/toolchains/esp32s3/sdkconfig.defaults	2023-11-07 13:46:26.859418469 +0100
+++ synthesized/esp32s3-spiram-octo/sdkconfig.defaults	2023-11-07 13:48:07.791059774 +0100
@@ -32,6 +32,7 @@
 # CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE is not set
 CONFIG_ESP_PHY_REDUCE_TX_POWER=y
 CONFIG_SPIRAM=y
+CONFIG_SPIRAM_MODE_OCT=y
 CONFIG_SPIRAM_IGNORE_NOTFOUND=y
 CONFIG_SPIRAM_RODATA_PADDING=2097152
 CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
