--- toolchains/esp32s3/sdkconfig.defaults	2023-08-25 14:04:18.895250858 +0200
+++ toolchains/esp32s3-foo/sdkconfig.defaults	2023-08-25 14:20:21.399457870 +0200
@@ -32,6 +32,7 @@
 # CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE is not set
 CONFIG_ESP_PHY_REDUCE_TX_POWER=y
 CONFIG_SPIRAM=y
+CONFIG_SPIRAM_MODE_OCT=y
 CONFIG_SPIRAM_IGNORE_NOTFOUND=y
 CONFIG_SPIRAM_USE_CAPS_ALLOC=y
 CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
