--- toolchains/esp32/sdkconfig.defaults	2024-02-19 14:17:25.286885071 +0400
+++ toolchains/esp32-name/sdkconfig.defaults	2024-02-26 20:37:54.895785478 +0400
@@ -18,7 +18,7 @@
 CONFIG_BT_NIMBLE_MAX_CCCDS=3
 CONFIG_BT_NIMBLE_PINNED_TO_CORE_1=y
 CONFIG_BT_NIMBLE_NVS_PERSIST=y
-CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="toit"
+CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="other-name"
 CONFIG_BT_NIMBLE_SVC_GAP_APPEARANCE=0x0
 CONFIG_BT_NIMBLE_ACL_BUF_COUNT=10
 CONFIG_BTDM_CTRL_BLE_MAX_CONN=2
@@ -53,7 +53,7 @@
 CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
 CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
 # CONFIG_LOG_COLORS is not set
-CONFIG_LWIP_LOCAL_HOSTNAME="toit"
+CONFIG_LWIP_LOCAL_HOSTNAME="other-name"
 # CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES is not set
 CONFIG_LWIP_TCP_SYNMAXRTX=6
 CONFIG_LWIP_TCP_MSS=1410
