--- toit/toolchains/esp32/sdkconfig.defaults
+++ synthesized/esp32-consibio/sdkconfig.defaults
@@ -5,27 +5,10 @@
 CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
 CONFIG_BOOTLOADER_SKIP_VALIDATE_IN_DEEP_SLEEP=y
 CONFIG_APP_COMPILE_TIME_DATE=n
-CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
+CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
 CONFIG_PARTITION_TABLE_CUSTOM=y
 CONFIG_COMPILER_OPTIMIZATION_SIZE=y
 CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y
-CONFIG_BT_ENABLED=y
-CONFIG_BT_NIMBLE_ENABLED=y
-CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_DEFAULT=y
-CONFIG_BT_NIMBLE_LOG_LEVEL_NONE=y
-CONFIG_BT_NIMBLE_MAX_CONNECTIONS=2
-CONFIG_BT_NIMBLE_MAX_BONDS=4
-CONFIG_BT_NIMBLE_MAX_CCCDS=3
-CONFIG_BT_NIMBLE_PINNED_TO_CORE_1=y
-CONFIG_BT_NIMBLE_NVS_PERSIST=y
-CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="toit"
-CONFIG_BT_NIMBLE_SVC_GAP_APPEARANCE=0x0
-CONFIG_BT_NIMBLE_TRANSPORT_ACL_FROM_LL_COUNT=10
-CONFIG_BTDM_CTRL_BLE_MAX_CONN=2
-CONFIG_BTDM_CTRL_PINNED_TO_CORE_1=y
-CONFIG_BTDM_CTRL_MODEM_SLEEP=n
-CONFIG_BTDM_BLE_SCAN_DUPL=n
-CONFIG_BTDM_BLE_ADV_REPORT_FLOW_CTRL_NUM=50
 CONFIG_ADC_CAL_EFUSE_TP_ENABLE=n
 CONFIG_ADC_CAL_LUT_ENABLE=n
 CONFIG_I2S_ISR_IRAM_SAFE=y
@@ -46,7 +29,6 @@
 CONFIG_ESP_WIFI_NVS_ENABLED=n
 CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_1=y
 CONFIG_ESP_WIFI_IRAM_OPT=n
-CONFIG_ESP_WIFI_GMAC_SUPPORT=n
 CONFIG_FATFS_LFN_HEAP=y
 CONFIG_FREERTOS_THREAD_LOCAL_STORAGE_POINTERS=3
 CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=1024
@@ -75,4 +57,3 @@
 CONFIG_SPI_FLASH_LOG_FAILED_WRITE=y
 CONFIG_SPI_FLASH_WARN_SETTING_ZERO_TO_ONE=y
 CONFIG_WS_TRANSPORT=n
-CONFIG_TOIT_INTERPRETER_HELPERS_IN_IRAM=n
