--- toit/toolchains/esp32/sdkconfig.defaults
+++ synthesized/esp32-spiram/sdkconfig.defaults
@@ -40,6 +40,8 @@
 CONFIG_PERIPH_CTRL_FUNC_IN_IRAM=n
 CONFIG_XTAL_FREQ_AUTO=y
 CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE=n
+CONFIG_SPIRAM=y
+CONFIG_SPIRAM_IGNORE_NOTFOUND=y
 CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
 CONFIG_ESP_INT_WDT=n
 CONFIG_ESP_TASK_WDT_INIT=n
@@ -48,7 +50,6 @@
 CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=16
 CONFIG_ESP_WIFI_NVS_ENABLED=n
 CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_1=y
-CONFIG_ESP_WIFI_IRAM_OPT=n
 CONFIG_ESP_WIFI_GMAC_SUPPORT=n
 CONFIG_FATFS_LFN_HEAP=y
 CONFIG_FREERTOS_THREAD_LOCAL_STORAGE_POINTERS=3
@@ -77,5 +78,6 @@
 CONFIG_SPI_FLASH_LOG_FAILED_WRITE=y
 CONFIG_SPI_FLASH_WARN_SETTING_ZERO_TO_ONE=y
 CONFIG_WS_TRANSPORT=n
+CONFIG_TOIT_INTERPRETER_IN_IRAM=n
 CONFIG_TOIT_INTERPRETER_HELPERS_IN_IRAM=n
 CONFIG_TOIT_CRYPTO_EXTRA=y
