--- /home/flo/code/envelopes/../opentoit/toolchains/esp32/sdkconfig.defaults	2023-10-25 16:02:07.900402881 +0200
+++ synthesized/esp32-qemu/sdkconfig.defaults	2023-10-25 16:13:45.142921690 +0200
@@ -33,6 +33,7 @@
 # CONFIG_ESP_ERR_TO_NAME_LOOKUP is not set
 CONFIG_ETH_SPI_ETHERNET_DM9051=y
 CONFIG_ETH_SPI_ETHERNET_W5500=y
+CONFIG_ETH_USE_OPENETH=y
 # CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS is not set
 CONFIG_ESP_SLEEP_GPIO_RESET_WORKAROUND=y
 CONFIG_XTAL_FREQ_AUTO=y
