--- toit/toolchains/esp32/sdkconfig.defaults	2023-09-20 11:21:44.091952700 +0200
+++ synn/esp32-qemu/sdkconfig.defaults	2023-09-21 21:26:45.594052040 +0200
@@ -33,6 +33,7 @@
 # CONFIG_ESP_ERR_TO_NAME_LOOKUP is not set
 CONFIG_ETH_SPI_ETHERNET_DM9051=y
 CONFIG_ETH_SPI_ETHERNET_W5500=y
+CONFIG_ETH_USE_OPENETH=y
 # CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS is not set
 CONFIG_ESP_SLEEP_GPIO_RESET_WORKAROUND=y
 CONFIG_XTAL_FREQ_AUTO=y
