--- toolchains/esp32/sdkconfig.defaults	2024-02-14 13:01:21.464253095 +0100
+++ toolchains/esp32-sedisto/sdkconfig.defaults	2024-02-14 13:02:23.710920353 +0100
@@ -73,4 +73,8 @@
 CONFIG_SPI_FLASH_LOG_FAILED_WRITE=y
 CONFIG_SPI_FLASH_WARN_SETTING_ZERO_TO_ONE=y
 # CONFIG_WS_TRANSPORT is not set
+# CONFIG_TOIT_BYTE_DISPLAY is not set
+# CONFIG_TOIT_BIT_DISPLAY is not set
+# CONFIG_TOIT_FONT is not set
+# CONFIG_TOIT_FATFS is not set
 # CONFIG_TOIT_INTERPRETER_HELPERS_IN_IRAM is not set
