--- toolchains/esp32s3/sdkconfig.defaults	2023-10-11 18:19:53.365425941 +0200
+++ toolchains/esp32s3-synap/sdkconfig.defaults	2023-10-12 19:21:38.564774298 +0200
@@ -32,6 +32,8 @@
 # CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE is not set
 CONFIG_ESP_PHY_REDUCE_TX_POWER=y
 CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
+CONFIG_ESP_CONSOLE_UART_CUSTOM=y
+CONFIG_ESP_CONSOLE_UART_RX_GPIO=7
 # CONFIG_ESP_INT_WDT is not set
 # CONFIG_ESP_TASK_WDT_EN is not set
 CONFIG_ESP_IPC_TASK_STACK_SIZE=1024
