--- toit/toolchains/esp32/sdkconfig.defaults
+++ synthesized/esp32-spiram-rev3/sdkconfig.defaults
@@ -39,6 +39,9 @@
 CONFIG_PERIPH_CTRL_FUNC_IN_IRAM=y
 CONFIG_XTAL_FREQ_AUTO=y
 CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE=n
+CONFIG_SPIRAM=y
+CONFIG_SPIRAM_IGNORE_NOTFOUND=y
+CONFIG_ESP32_REV_MIN_3=y
 CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
 CONFIG_ESP_INT_WDT=n
 CONFIG_ESP_TASK_WDT_INIT=n
