--- toit/toolchains/esp32/sdkconfig.defaults
+++ synthesized/esp32-eth-clk-out0/sdkconfig.defaults
@@ -31,6 +31,8 @@
 CONFIG_ESP_ERR_TO_NAME_LOOKUP=n
 CONFIG_SPI_SLAVE_ISR_IN_IRAM=n
 CONFIG_UART_ISR_IN_IRAM=y
+CONFIG_ETH_RMII_CLK_OUTPUT=y
+CONFIG_ETH_RMII_CLK_OUTPUT_GPIO0=y
 CONFIG_ETH_SPI_ETHERNET_DM9051=y
 CONFIG_ETH_SPI_ETHERNET_W5500=y
 CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS=n
@@ -46,7 +48,6 @@
 CONFIG_ESP_WIFI_NVS_ENABLED=n
 CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_1=y
 CONFIG_ESP_WIFI_IRAM_OPT=n
-CONFIG_ESP_WIFI_GMAC_SUPPORT=n
 CONFIG_FATFS_LFN_HEAP=y
 CONFIG_FREERTOS_THREAD_LOCAL_STORAGE_POINTERS=3
 CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=1024
@@ -63,7 +64,6 @@
 CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=7800
 CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=3700
 CONFIG_MBEDTLS_X509_TRUSTED_CERT_CALLBACK=y
-CONFIG_MBEDTLS_ECP_RESTARTABLE=y
 CONFIG_MBEDTLS_HARDWARE_MPI=n
 CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
 CONFIG_MBEDTLS_POLY1305_C=y
