--- toit/toolchains/esp32/sdkconfig.defaults
+++ synthesized/esp32-eth-clk-out0/sdkconfig.defaults
@@ -31,6 +31,8 @@
 # CONFIG_SPI_SLAVE_ISR_IN_IRAM is not set
 CONFIG_UART_ISR_IN_IRAM=y
 # CONFIG_ESP_ERR_TO_NAME_LOOKUP is not set
+CONFIG_ETH_RMII_CLK_OUTPUT=y
+CONFIG_ETH_RMII_CLK_OUTPUT_GPIO0=y
 CONFIG_ETH_SPI_ETHERNET_DM9051=y
 CONFIG_ETH_SPI_ETHERNET_W5500=y
 # CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS is not set
