--- toit/toolchains/esp32s3/sdkconfig.defaults
+++ synthesized/esp32s3-audio/sdkconfig.defaults
@@ -25,7 +25,6 @@
 CONFIG_BT_NIMBLE_TRANSPORT_ACL_FROM_LL_COUNT=10
 CONFIG_BT_CTRL_BLE_MAX_ACT=10
 CONFIG_I2S_ISR_IRAM_SAFE=y
-CONFIG_SPI_SLAVE_ISR_IN_IRAM=y
 CONFIG_UART_ISR_IN_IRAM=y
 CONFIG_ETH_SPI_ETHERNET_DM9051=y
 CONFIG_ETH_SPI_ETHERNET_W5500=y
@@ -71,4 +70,7 @@
 CONFIG_SPI_FLASH_LOG_FAILED_WRITE=y
 CONFIG_SPI_FLASH_WARN_SETTING_ZERO_TO_ONE=y
 CONFIG_WS_TRANSPORT=n
+CONFIG_TOIT_AUDIO=y
+CONFIG_TOIT_AUDIO_EXTRA=y
+CONFIG_TOIT_AUDIO_FLOAT_FFT=y
 CONFIG_TOIT_CRYPTO_EXTRA=y
